body {
  overflow-x: hidden;
  margin: 0;
  font-family: 'Poppins', sans-serif !important;
  background: #fff !important;
}

p{
  line-height: 28px;
}

.overflow-hidden {
  overflow: hidden;
}
.overflow-auto {
  overflow: auto;
}

#nav-collapse-button {
  position: absolute;
  right: 15px;
  color: white;
  z-index: 3001;
}

.navbar-scroll {
  background: #052154!important;
  transition: all ease 0.3s;
  -webkit-box-shadow: 0 0 15px #052154;
  box-shadow: 0 0 15px #052154;
}
.navbar-none{
  background-color: none;
}

.navbar-main {
  background: none;
  padding-bottom: 10px;
  padding-top: 10px;
  transition: all ease 0.3s;
}

.nav-link {
  color: white;
  font-family: 'Poppins', sans-serif !important;
  font-weight: 400;
  font-size: 14px;
}
.nav-link-2 {
  color: white;
  font-family: 'Poppins', sans-serif !important;
  font-weight: 400;
  font-size: 14px;
}
.nav-link-2:hover{
  text-decoration: none;
}
.nav-link.active{
  border-bottom: 2px solid white;
  padding-bottom: 4px;
}
.nav-link:hover {
  color: white;
  border-bottom: 2px solid white;
  padding-bottom:4px;
}

.nav-item {
  margin-right: 20px;
  margin-left: 20px;
}
.social {
  font-size: 25px;
  text-decoration: none;
  color:black;
}
.social:hover {
  text-decoration: underline white;
}

.navbar-nav {
 margin-left: 150px;
}

.container-fullscreen {
  height: 80vh;
  max-width: 100%;
  padding: 0;
  margin: 0;
  display: block;
  width: 100%;
  z-index: 4000;
}

.mobile {
  position: absolute;
  left: 400px;
  top: 350px;
  border: 1px solid #080037;
  padding-bottom: 25px;
  padding-right: 60px;
  padding-left: 60px;
  padding-top: 75px;
  text-align: left;
  -webkit-box-shadow: 0 0 10px gray;
  box-shadow: 0 0 10px gray;
}
.mobile-header {
  font-size: 20px;
  font-weight: 400;
}

.container-home {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: black;
  opacity: 1;
}

.container-home-2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../img/background2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: black;
  opacity: 1;
}

.collapse-navbar {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3000;
  height: 100vh;
  width: 100%;
  background: #052154;
  transition: all ease 0.4s;
}



.collapse-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.navbar-small-link {
  color: white;
  font-size: 18px;
}

.not-visible {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.2s, opacity 0.3s linear;
}

.visible {
  visibility: visible;
  transition: visibility 0.2s, opacity 0.3s linear;
}

.custom-shape-divider-bottom-1604654728 svg {
  position: relative;
  display: block;
  width: calc(232% + 1.3px);
  height: 96px;
  transform: rotateY(180deg) translateY(-15%);
  z-index: -1;
}

.custom-shape-divider-bottom-1604654728 .shape-fill {
  fill: #572973;
}

.member-img {
  border-radius: 50%;
}

.news {
  border: 1px solid #572973;
  padding: 15px;
  padding-top: 60px;
  padding-bottom: 60px;
  height: 225px;
  -webkit-box-shadow: 0 0 10px gray;
  box-shadow: 0 0 10px gray;
}

.footer {
  background: #fafafa;
  margin-top: 150px !important;
  padding-bottom: 40px;
  padding-top: 20px;
}
.navbar-active {
  border-bottom: 3px solid white;
}
.navlink{
  color:white;
  text-decoration: none;;
}
.navlink:hover{
  text-decoration: none;;
}

.copyright{
  color:black;
}

@media (min-width: 0px) {
  .card-title{
    font-size: 14px;
    font-weight: 400;
  }
  .nsm{
    display: none !important;
  }
  .nlg{
    display: inherit !important;
  }
  .no-d-lg {
    display: flex;
    transition: all ease 0.4s;
  }
  .no-d-sm {
    display: none;
    transition: all ease 0.4s;
  }
  .d-sm {
    display: inherit !important;
  }
  .d-lg {
    display: none !important;
  }
  .d-md {
    display: none !important;
  }
  .navbar-brand {
    z-index: 3001;
    margin-left: 25px;
    padding-bottom: 10px;
  }
  .main-header {
    margin-top: 30vh;
    margin-bottom: 1rem;
    color: white;
    font-family: 'Poppins', sans-serif !important;
    font-weight: 400;
    text-align: center;
    font-size: 30px;
  }
  .join-button {
    border: 2px solid white;
    background: none;
    color: white;
    padding-top: 4px;
    padding-left: 30px !important;
    padding-right: 30px !important;
    padding-bottom: 4px;
    font-family: 'Poppins', sans-serif !important;
    transition: all ease 0.4s;
    border-radius: 30px;
  }
  .join-button:hover {
    border: 2px solid white;
    background: white;
    color: #052154;
    padding-top: 4px;
    padding-left: 30px !important;
    padding-right: 30px !important;
    padding-bottom: 4px;
    transition: all ease 0.4s;
  }
  .margin-left-small {
    margin-left: 18px;
  }
  .alt-header {
    font-weight: 400;
    font-size: 30px;
  }
  .group-box {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 100px;
    padding-right: 100px;
    border-top: 1px solid #572973;
    border-bottom: 1px solid #572973;
    max-width: 100%;
  }
  .group-box-purple {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 100px;
    padding-right: 100px;
    border: 1px solid #572973;
    background-color: #572973;
    max-width: 100%;
  }
  .group-header {
    padding-top: 15px;
    font-size: 30px;
    font-weight: 400;
  }
  .face-image {
    display: none;
  }
  .custom-shape-divider-bottom-1604654728 {
    position: absolute;
    top: 92vh;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
  }

  .box-app-link:hover{
    text-decoration: none;
  }
  .close-button {
    position: absolute;
    top: 30px;
    color: white;
    right: 30px;
  }
  .application-header {
    font-size: 20px;
    text-align: center;
    color: white;
  }
  .body-margin {
    margin-top: 150px;x;
  }
  .nav-add{
    color: white;
    font-family: 'Poppins', sans-serif !important;
    font-weight: 400;
    font-size: 18px;
  }
  .nav-add:hover{
    text-decoration: none !important;
  }
  .project{
    font-size:16px;
    cursor: pointer;
  }
  .project-alt{
    font-weight: 400;
    font-size:14px;
  }
  .application-text{
    font-size:13px;
  }
  .header{
    margin-top: 4rem;
    text-align: center;
    font-weight:500;
  }
  .arrow {
    width: 100px;
    border-bottom: 2px solid black;
    text-align: center;
    position: absolute;
    left:50%;
    transform: translateX(-50%) translateY(-50%);
  }
  .arrow-white {
    width: 100px;
    border-bottom: 2px solid white;
    text-align: center;
    position: absolute;
    left:50%;
    transform: translateX(-50%) translateY(-50%);
  }
  .box{
    background-color: #fff;
    margin-top: 1.5rem;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 2.3rem;
    padding-top: 2.3rem;
    box-shadow: 3px 3px 25px 2px rgba(158, 153, 153, 0.25);
    border-radius: 15px;
    display: flex;
    flex-direction: column;;
    background-position: center;
    background-size:cover;
  }
  .box-app{
    background-color: #fff;
    margin-top: 1rem;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    box-shadow: 3px 3px 25px 2px rgba(158, 153, 153, 0.25);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
  .box-text{
    color:black;
    text-align: center;
    padding-top: 1.2rem;
    font-size: 24px;
    font-weight: 500;
  }
  .box-text-app{
    color:black;
    text-align: center;
    padding-top: 2rem;
    font-size: 22px;
    font-weight: 400;
  }
  .box-list{
    margin-top: 1rem;
    padding-left: 40px;
    padding-right: 20px;
  }
  .box-list li{
    color:black;
    font-size:120%;
  }
  #about-us{
    background: #FFF;
    padding-bottom: 8rem;
  }
  .item-box{
    height: 15rem;
    background: none;
  }
  .owl-dot{
    background: none;
    border:none;
    outline: none;
    color: #C4C4C4
  }
  .owl-dot:focus{
    outline: none;
  }
  .owl-dotss .active{
    color:gray;
  }
  .owl-dotss{
    display: block;
    text-align: center;
  }
}
@media (min-width: 900px) {
  .nsm{
    display: inherit !important;
  }
  .nlg{
    display: none !important;
  }
  .application-text{
    font-size:16px;
  }
  .project-alt{
    font-weight: 400;
    font-size:18px;
    transition: all ease 0.4s;
  }
  .body-margin {
    margin-top: 150px;
  }
  .no-d-lg {
    display: none;
  }
  .no-d-sm {
    display: flex;
  }
  .d-sm {
    display: none !important;
  }
  .d-md {
    display: inherit !important;
  }

  .navbar-brand {
    z-index: 3001;
    margin-left: 100px;
  }
  .main-header {
    margin-top: 35vh;
    font-size: 30px;
  }
  .margin-left-small {
    margin-left: 0px;
  }
  .alt-header {
    font-weight: 400;
    font-size: 40px;
  }
  .group-box {
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 100px;
    padding-right: 100px;
  }
  .group-box-purple {
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 100px;
    padding-right: 100px;
    border: 1px solid #572973;
    background: rgb(87, 41, 115);
    background: linear-gradient(
      180deg,
      rgba(87, 41, 115, 1) 0%,
      rgba(110, 40, 153, 1) 100%
    );
  }
  .face-image {
    border-radius: 40px;
  }
  .custom-shape-divider-bottom-1604654728 {
    position: absolute;
    bottom: 0;
    left: 0;
    top: 85vh;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
  }
  .close-button {
    position: absolute;
    top: 30px;
    right: 90px;
    color: white;
    font-size: 25px;
  }
  .application-header {
    font-size: 35px;
  }
  .project{
    font-size:20px;
  }
  .card{
    height: 20rem;
  }
  .card-title{
    font-size: 16px;
    font-weight: 400;
  }
  .item-box{
    height: 30rem;
  }
}

@media (min-width: 1200px) {
  .d-lg {
    display: inherit !important;
  }
  .d-md {
    display: none !important;
  }
  #news{
    margin-top: 400px;
  }
  .main-header {
    margin-top: 35vh;
    font-size: 35px;
  }
}


@media (min-width: 1600px) {
  .d-lg {
    display: inherit !important;
  }
  .d-md {
    display: none !important;
  }
  #news{
    margin-top: 400px;
  }
  .main-header {
    margin-top: 35vh;
    font-size: 48px;
  }
}


/* About Prof */

.about-prof{
  background-color: #efefef;
  padding-bottom: 30px;
  padding-top:30px;
}
.about-prof-text{
  font-weight: 500;
  color:black;
  font-size: 120%;
}
@media(min-width:0px){
  .about-prof-img{
    background-image: url("../img/people/ekenel.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top:200px;
    padding-bottom:200px;
  }

}
@media(min-width:992px){
  .about-prof-img{
    background-image: url("../img/people/ekenel.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top:150px;
    padding-bottom:150px;
  }

}




/* Projects Page  */

.project-header-div-right{
  padding:20px;
  padding-top:30px;
  padding-bottom:30px;
  border: 2px solid #d1cece;
  border-left:none;
  border-top-right-radius: 50px;
  cursor: pointer;
  border-bottom-right-radius: 50px;

}
.active-left{
  box-shadow: 10px 5px 10px -2px #d1cece;
  z-index: 100;
}
.active-right{
  box-shadow: -10px 5px 10px -2px #d1cece;
  z-index: 100;
}
.project-header-div-left{
  padding:20px;
  padding-top:30px;
  padding-bottom:30px;
  border: 2px solid #d1cece;
  border-right:none;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  cursor: pointer;
}

.plus{
  background-color: #052154;
  padding:15px;
  margin-right: 15px;
  color:white;
  cursor: pointer;
}
.breadcrump{
  background-color: #052154;
  padding-bottom: 9rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 6rem;
  background-image:url(../img/background.png);
}

.project-header-text{
  font-size:20px;
  font-weight: 400;
}

.item-frame{
  border: none;
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.item-frame2{
  border: none;
  width: 100%;
  height: 100%;
}

.team-img{
 height: 18rem;
 background-size: cover;
 background-repeat: no-repeat;
 background-position: center;
}
.team-text{
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  background-color: #ededed;
  display: flex;
  flex-direction: column;
}

.card-title{
  text-align: center;
}

.card-soc{
  text-align: center;
}